# Flutter/Dart
.dart_tool/
.packages
build/
.pub-cache/
.idea/
*.iml

# Android
/android/.gradle/
/android/.idea/
/android/local.properties
/android/gradle/wrapper/
# Ignorar todo lo de android/app excepto el build.gradle
/android/app/*
!/android/app/build.gradle

# Firebase sensitive files
lib/firebase_options.dart
firebase.json
# Igualmente app esta en el ignore asi que no deberia de llegar, pero ya está desde antes, asi que si debería de llegar
# /android/app/google-services.json

# iOS
ios/

# MacOS
macos/

# Web
web/

# Windows
windows/

# Linux
linux/

# Test
test/

# Ignore plugins files
.flutter-plugins
.flutter-plugins-dependencies