# Flutter/Dart
.dart_tool/
.packages
build/
.pub-cache/
.idea/
*.iml

# Android
android/.gradle/
android/app/key.jks
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/.dart_tool/

# Web
web/.dart_tool/
web/.firebase/
